body {
    background-color: #dee4bfe5;
    font-family: Arial, sans-serif;
}
header {
    text-align: center;
    color: rgb(0, 68, 255);
    font-size:larger;
}
section{
    text-align: center;
}
footer{
    text-align: center;
}
.per{
    width: 200;
    height: 200;
    border-radius: 150px;
}
