head{
    height: auto;
}
body {

    background-color: #dee4bfe5;
    font-family: Arial, sans-serif;
    position: fixed;
    width: 80%;


}

header {
    background-color: white; 
    position: relative; 
    text-align: center;
}
.Informacion{
    text-align: center;
}
section{
    text-align: center;
}
footer{
    text-align: center;
}
.per{
    width: 200;
    height: 200;
    border-radius: 150px;
}

.spanuso{
    color: rgb(0, 4, 255);
    font-size: 20px;
    font-style: italic;
}

.boton{
    color:darkcyan;
    background-color: chocolate;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}
#botonbuscar{
    color: yellowgreen;
    cursor: pointer;
    border-radius: 5px;
    background-color: darkgreen;
}
.CONTACTO {
        position: fixed;
        top: 20%;
        right: 0;
        width: 18%;
        height: 200px;
        background-color: grey;
        text-align: center;

}
.Direccion{
    position:fixed;
    top: 70%;
    right: 0;
    width: 18%;
    height: 150px;;
    background-color:grey;
    text-align: justify;
}

/**{
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}*/

div > p {
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

p>h6{
    color: bisque;
    font-size: 20px;
}


/*div li{
    color: gold;
    font-size: 30px;
}*/

.flexstyle{
    border-color: blue;
    border-width: 8px;
    border-style: double;
    display: flex;
    justify-content: space-between;

}

