* {
    margin: 0px;
}

body{
    background-color: rgb(255, 255, 255);
    height: 100%;
    transition: background-color 0.3s ease;
}

.card{
    box-shadow: #000000 0px 0px 50px;
    margin: auto;
    margin-top: 50px;
    height: 700px;
    color: #ddd;
    width:500px; 
    background-color: rgb(128, 170, 123);
}

.card-header{
    height: 400px;
    background-image: url(https://static.futbolfactory.es/products/243792_1_v2.jpg);
    background-size: cover;
    background-position: center;
}

.card-header:hover::after {
    content: "VER DETALLES"; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
}

.card-header:hover {
    transform: scaleX(-1);
    filter: brightness(0.3);
    filter: invert(1) brightness(0.7);
}

h4{
    color: black
}

.card-content{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 40px;
}
.size{
    margin-top: 50px;
}

.color{
    margin-top: 40px;
}
.red{
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    color: red;
    width: 10px;
    height: 10px;
}
.blue{
    border: 1px solid blue;
    background-color: blue;
    border-radius: 50%;
    color: blue;
    width: 10px;
    height: 10px;
}

.white{
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
    color: white;
    width: 10px;
    height: 10px;
}
.green{
    border: 1px solid green;
    background-color: green;
    border-radius: 50%;
    color: green;
    width: 10px;
    height: 10px;
}
.producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.redondear-color {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.container {
    background-color: white;
    transition: background-color 0.3s ease; /* Transición suave */
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container:hover {
    background-color: black; /* Cambia el fondo al pasar el cursor */
}