body{
    background-color: beige;
}

header{
    background-color: violet;
}

.section1{
    height: 400px;
    background-color: brown;
    background-image: url("../ImagenesFond/the-seo-guide-to-angular.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.section2{
    background-image: url(https://placehold.jp/3d4070/ffffff/1000x1000.png);
    height: 400px;
}

.section3{
    height: 500px;
    background-image: url("../ImagenesFond/Angular_v6.webp");
    background-size: 100%;
    background-attachment: fixed; /*queda fijo el background*/
}

.section4{
    height: 1000px;
}